* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: rgb(243, 241, 241);
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.backdrop.active {
    display: block;
}


header {
    background-image : url('./image/banner.png');
    height: 75vh;
    width: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.section {
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
}

#mynavbar{
    position: fixed;
    background-color: rgba(77, 77, 92, 0.5);
    height: 70px;
    z-index: 100;
    width: 100%;
}

#mynavbar.black {
    background-color: rgb(16, 20, 46);
}

#mynavbar .navbar-brand {
    color: white;
    font-weight: bolder;
    padding: 20px 0;
}

.list-items {
    float: right;
}

.list-items .navbar-list .nav-item {
    display: inline-block;
    padding: 18px 5px;
    font-weight: bolder;
    cursor: pointer;
}

.list-items .navbar-list .nav-item a {
  color: white;
}

.social-media {
    display: none;
}

header .banner-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

header .banner-text h1 {
    color: black;
    font-weight: 800;
    text-transform: capitalize;
    padding-bottom: 1rem;
    font-size: 5vw;
}

header .banner-text p {
    color: black;
    font-weight: bolder;
    text-transform: capitalize;
    font-size: 2.4vw;
}

header .menu-navbar {
    float: right;
    color: white;
    margin-top: 12px;
    font-size: 25px;
    display: none;
}

.section-service {
    width: 90%;
    margin: 0 auto;
}

.section-service .whatwedosection {
    width: 100%;
    padding: 3rem 0 ;
}

.section-service .whatwedosection h1{
    text-transform: uppercase;
    padding-bottom: 2rem;
    color: black;
    font-weight: 900;
    padding: 3rem 0 ;
}


.card {
    margin-bottom: 2rem;
}

.card-top {
    padding-top: 1.6rem;
    padding-left: 1.6rem;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 1.6rem;
}

.section-counter .section {
    padding-top: 3rem;
}

.section-counter .counter {
    width: 100%;
    margin: 0 auto;
}

.section-counter ul li {
    display: inline-block;
    margin: 0 4rem;
    font-size: 40px;
    font-weight: 900;
    padding: 2rem;
    border: 1px solid lightgray;
    margin-bottom: 1rem;
}

.contact .contact-title{
    padding: 3rem;
}
















@media (max-width : 991px) {
    
    header .menu-navbar {
        display: block;
    }

    header .banner-text p {
        font-size: 3.4vw;
    }

    header .list-items .navbar-list {
        position: fixed;
        padding-top: 40px;
        width: 70%;
        height: 100vh;
        top: 0;
        left: -100%;
        background-color: rgb(12, 16, 41);
        text-align: left;
        transition: all 0.5s;
    }

    header .list-items .navbar-list .nav-item {
        display: block;
        padding-top: 20px;
        border-bottom: 1px solid lightgray;
    }

    header .list-items .navbar-list.active {
        left: 0;
    }

    header .list-items .navbar-list > .social-media {
        display: inline-block;
        color: white;
        padding-top: 20px;
    }

}

